form {
    display: inline-block;
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

.line-through-text {
    text-decoration: line-through;
}
.checkbox {
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}

.btn--delete {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}